<nav class="govuk-!-margin-top-4" aria-labelledby="components-nav-heading">
  <h2 class="govuk-heading-s" id="components-nav-heading">Components by category</h2>
  
  <h3 class="govuk-heading-s govuk-!-margin-top-4">Platform</h3>
  <ul class="govuk-list">
    {% for component in data.components %}
      {% if component.category == 'Platform' %}
      <li>
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/{{ component.id }}"{% if component.id == componentId %} aria-current="page"{% endif %}>
          {{ component.name }}
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h3 class="govuk-heading-s govuk-!-margin-top-4">Capabilities</h3>
  <ul class="govuk-list">
    {% for component in data.components %}
      {% if component.category == 'Capabilities' %}
      <li>
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/{{ component.id }}"{% if component.id == componentId %} aria-current="page"{% endif %}>
          {{ component.name }}
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h3 class="govuk-heading-s govuk-!-margin-top-4">Frontend</h3>
  <ul class="govuk-list">
    {% for component in data.components %}
      {% if component.category == 'Frontend' %}
      <li>
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/{{ component.id }}"{% if component.id == componentId %} aria-current="page"{% endif %}>
          {{ component.name }}
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h3 class="govuk-heading-s govuk-!-margin-top-4">Backend</h3>
  <ul class="govuk-list">
    {% for component in data.components %}
      {% if component.category == 'Backend' %}
      <li>
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/{{ component.id }}"{% if component.id == componentId %} aria-current="page"{% endif %}>
          {{ component.name }}
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
