{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Core Component Hub",
    serviceUrl: "/"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukServiceNavigation({
    navigation: [
      {
        href: "/components",
        text: "Components",
        active: true if pageName == "Components"
      },
      {
        href: "/contribute",
        text: "Contribute",
        active: true if pageName == "Contribute"
      }
    ]
  }) }}
{% endblock %}
